In [72]:
list=[1,2,3,4,5,6,7,8,9,"my","name","is","ameer","hamza",True,False,[1,2,"ayan",True]]
list.append(['x','y',54]) #append a list to another list(way-1)
a=['x','y',54]
list.append(a)            #append a list to another list(way-2)

In [73]:
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, 'ayan', True], ['x', 'y', 54], ['x', 'y', 54]]

In [74]:
list.count(True)

2

In [75]:
list.count(['x','y',54])#count no of elements in a list

2

In [76]:
copylist=list.copy() #create a copy of list and store in some other variable
print(copylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, 'ayan', True], ['x', 'y', 54], ['x', 'y', 54]]

In [77]:
print(list)
#list.remove("[999999]")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, 'ayan', True], ['x', 'y', 54], ['x', 'y', 54]]

In [78]:
list.extend("[999999]") #appends elements of a list(strictly -string is considered as a list of characters) to the end of another list
#list.extend(True) #error extend works only with lists
list.extend([999999])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, 'ayan', True], ['x', 'y', 54], ['x', 'y', 54], '[', '9', '9', '9', '9', '9', '9', ']', 999999]

In [79]:
list.extend([10,8])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, 'ayan', True], ['x', 'y', 54], ['x', 'y', 54], '[', '9', '9', '9', '9', '9', '9', ']', 999999, 10, 8]

In [80]:
list[16].remove("ayan") #removes the string ayan from the sublist(index location 16)

In [81]:
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, True], ['x', 'y', 54], ['x', 'y', 54], '[', '9', '9', '9', '9', '9', '9', ']', 999999, 10, 8]

In [82]:
list.index('hamza')

13

In [83]:
list.index( [1, 2, True])

16

In [84]:
list.index(['x', 'y', 54]) # gives first location(index) of the appearance

17

In [85]:
list.index(False)

15

In [86]:
list.insert(0,"Inserted") #insert(index of insertion,data to be inserted)-inserts the text "inserted" at index 0

In [87]:
print(list)

['Inserted', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, True], ['x', 'y', 54], ['x', 'y', 54], '[', '9', '9', '9', '9', '9', '9', ']', 999999, 10, 8]

In [88]:
list.pop() # removes the last element from the list

8

In [89]:
list.pop()

10

In [90]:
print(list)

['Inserted', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'my', 'name', 'is', 'ameer', 'hamza', True, False, [1, 2, True], ['x', 'y', 54], ['x', 'y', 54], '[', '9', '9', '9', '9', '9', '9', ']', 999999]

In [91]:
intlist=[1,9,0,5,3,8,6,4,7,2]
intlist.sort()
print(intlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
intlist.sort(reverse=True) # changes the original list and returns nothing

In [93]:
print(intlist)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [94]:
sorted(intlist) #RETURNS THE SORTED FORM OF LIST ,DOES NOT CHANGE THE ORIGINAL LIST(obvious from cells no 93,94 and 95)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
print(intlist)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [103]:
type(list)

list

In [117]:
list.reverse()

In [118]:
print(list)

[999999, ']', '9', '9', '9', '9', '9', '9', '[', ['x', 'y', 54], ['x', 'y', 54], [1, 2, True], False, True, 'hamza', 'ameer', 'is', 'name', 'my', 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Inserted']

In [120]:
len(list)

29

In [121]:
len(intlist)

10

In [122]:
intlist.clear() #removes all elements

In [123]:
len(intlist)

0